name: Build/release Electron app

on:
  push:
    tags:
      - v*.*.* # 只在标签推送时触发

jobs:
  release:
    runs-on: ubuntu-latest # 只在 ubuntu-latest 上运行

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install Dependencies
        run: npm install

      - name: build-linux
        run: npm run build:linux # 只编译 Linux

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            dist/*.AppImage
            dist/*.deb
            dist/*.rpm
            dist/*.tar.gz
            dist/*.yml
            dist/*.blockmap
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }} # 使用 GitHub Token
