/* src/components/TitleBar/TitleBar.css */

#titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3f41;
  color: white;
  padding: 10px;
  user-select: none;
  -webkit-app-region: drag;
  /* 使标题栏可以拖动窗口 */
}

#title {
  font-size: 16px;
}

#window-controls {
  display: flex;
}

#window-controls button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  border:1px solid red;
}

#window-controls button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
